<%= form_for(@profile) do |f| %>
  <ul>
    <% @profile.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :role %><br />
    <%= f.text_field :role %>
  </p>
  <p>
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </p>
  <% unused_skill = Skill.all.where.not(id:@profile.skills.collect{|e| e.id})%>
  <% @profile.certifications.each do |c|%>
    <%= c.skill.name%>
    <%= link_to  "delete", certification_path(c), method: :delete %>
    <br>
  <%end%>
  <label>
    Choose a skill to add :  
  </label>
  <%= f.fields_for(:skills) do |s|%>
    <%= s.collection_select :skill_id, unused_skill, :id, :name, :include_blank => true %>
  <%end%>
  <p>
    <%= f.submit %>
  </p>
<% end %>
