<h1>
  All Profiles
</h1>
<hr>
<% @profiles.each do |profile| %>
  <!--img src="<%= profile.photo%>" alt="profile picture" width="400" height="400"-->
  <h2>
    <%= profile.name%>
  </h2>
  <h4>
    <%= profile.role%> @<%= profile.company%>
  </h4>
  <p>
    <% profile.certifications.each do |cert|%>
      <%= cert.skill.name%>
    <%end%>
  </p>
  <%= link_to  "delete", profile_path(profile), method: :delete %>
  <%= link_to  "edit", edit_profile_path(profile), method: :get %>
  <hr>
<% end %>
<%= link_to "Create a New User", new_profile_path, class: "new_profile" %>
